<!DOCTYPE html>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-3">Hi, I'm OWEN</h2>
    <p class="lead">I'm a software Developer</p>
    <div class="right img-rounded">

    </div>
  </div>
</div>
