<!DOCTYPE html>

<div class="container">
  <div id="blog">
  <h3 class="page-header">Blog</h3>
  <ul class="listdecorations">
    <% @posts.each() do |post|%>
      <li class="posttitle"><%= link_to post.title, home_path(post)%></li><hr/>
      <li class="postarticle"><%= post.article%></li><br/>
      <li>  <%= link_to "comment",  home_path(post), class:"btn"%> |<%=post.comments.count%> comments</li>
      <hr/>
    <%end%>
  </ul>
  </div>
</div>
