<!DOCTYPE html>

<div class="container">
  <div id="skill">
    <h2 class="text-center"><button class="btn btn-primary btn-lg btn-block" type="button" name="button">SKILLS</button></h2>
  <hr/>
  <ul class="listdecorations">
    <% @categories.each() do |category|%>
      <li class="skills"><%= link_to category.language, class:"btn"%>| <%= link_to "Projects",  skill_home_path(category), class:"btn"%></li>
      <hr/>
    <%end%>
  </ul>
</div>
</div>
