<!DOCTYPE html>

<div class="container">
  <h2 class="text-center">SKILLS</h2>
  <hr/>
  <ul class="listdecorations">
    <% @categories.each() do |category|%>
      <li class="skills"><%= link_to category.language,  skill_home_path(category)%></li>
      <hr/>
    <%end%>
  </ul>
</div>
