<!DOCTYPE html>
<div id="skill">
<div class="col-lg-12">
  <h3 class="page-header">SKILLS & PROJECTS</h3>
</div>
<% @categories.each() do |category|%>
<div class="col-sm-4 col-xs-6 col-md-4">
  <%= link_to skill_home_path(category), :action => 'go' do %>
    <div class="skill">
      <img class="skill" title= <%= category.language%> <%= image_tag(category.image)%>
    </div>
  <% end %>
</div>
<%end%>
</div>
