<!DOCTYPE html>

<% if user_signed_in? %>
  <li class="listdecorations">
    <%= link_to('Logout', destroy_user_session_path, class:"btn", :method => :delete) %>
  </li>
<% end %>
<h1>Welcome to my Portfolio</h1>

<div class="row">
  <%= render("/home/skills")%>
</div><hr/>

<div class="row">
  <%= render("/home/posts")%>
</div>
<div class="row">
</div>
