<!DOCTYPE html>
<div class="pagecontent">
  <!-- Page Content -->
  <div>

    <!-- Portfolio Item Row -->
    <div class="row self">
      <div class="row landinginfo">

        <div class="col-md-8">
          <div class="profile text-center">
            <img class="img-circle cover" <%= image_tag('owen.png')%>
            <h2>Full Stack Software Developer</h2>
          </div>
        </div>

        <div class="col-md-4 contactinfo">
          <h3>ABOUT</h3>
          <hr>
          <p>I'm OWEN KAMAU a software developer specialized in Rails 5 and web development.If you need a sick responsive website project done that needs some creative injection then thats where i come in.My work is to develop your website so that it's
            fuctional, responsive and has DRY business logic.I add personal touch to your product to make sure it's eye catching and easy to use.My AIM is to give your product identity in most creative way.</p>
          <h3>CONTACT</h3>
          <hr>
          <ul class="listicons">
          <li>
            <a class="btn btn-secondary" title="owen.kamau2014@gmail.com">
              <p>
                <i class="fa fa-envelope fa-2x" aria-hidden="true"> Gmail</i>
              </p>
            </a>
          </li>
          <li>
            <a class="btn btn-secondary" href="https://www.linkedin.com/in/owen-kamau-0a5a69137/">
              <p>
                <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"> Linkedin</i>
              </p>
            </a>
          </li>
          <li>
            <a class="btn btn-secondary" href="https://github.com/kashkama">
              <p>
                <i class="fa fa-github-alt fa-2x" aria-hidden="true"> GitHub</i>
              </p>
            </a>
          </li>
          <li>
            <a class="btn btn-secondary" href="https://www.facebook.com/owenxkash">
              <p>
                <i class="fa fa-facebook-square fa-2x" aria-hidden="true"> Facebook</i>
              </p>
            </a>
          </li>
          <li>
            <a class="btn btn-secondary" href="https://www.twitter.com/kash">
              <p>
                <i class="fa fa-twitter-square fa-2x" aria-hidden="true"> Twitter</i>
              </p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <!-- Related Projects Row -->
  <div class="row">
    <div class="container">
      <%= render("home/skills")%>
    </div>
  </div>
  <!-- /.row -->
  <br>
  <div class="row">
    <%= render("home/posts")%>
  </div>

</div>
<!-- /.container -->
