// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.skills{
  font-family: 'Russo One', sans-serif;
  font-size: 24px;
  text-decoration: none;

}
.commentname{
  font-size: 10px;
  color: #0299f9;
}
.commentdate{
  font-size: 10px;
}
.col-6{
  background-color: #eeeeee;
}
.border{
  border-left: 4px solid #ffffff;
}
// jumbotron
.jumbotron{
  background-image:url(asset-path('3d_cubes.jpg'));
}
.display-3{
  color: #0299f9;
}
.lead{
  color: #0299f9;
}
.right{
  float: right;
  width:200px;
  height:200px;
  background-image: url(asset-path('myAvatar.png'));
  background-size: 100%;
}
