<!DOCTYPE html>

<!--Footer-->
<footer class="page-footer blue center-on-small-only footerposition">

<!--Footer Links-->
<div class="container-fluid footer">
    <div class="row">

        <!--First column-->
        <div class="col-md-6">
            <h5 class="title">Footer Content</h5>
            <p class="title">Here you can use rows and columns here to organize your footer content.</p>
        </div>
        <!--/.First column-->

        <!--Second column-->
        <div class="col-md-6">
            <h5 class="title">Meet Me</h5>
            <ul class="listdecorations">
                <li><a href="#!">facebook</a></li>
                <li><a href="#!">LinkedIn</a></li>
                <li><a href="#!">Google+</a></li>
                <li><a href="#!">Blog</a></li>
            </ul>
        </div>
        <!--/.Second column-->
    </div>
</div>
<!--/.Footer Links-->

<!--Copyright-->
<div class="footer-copyright text-center">
    <div class="container-fluid">
        © 2017 Copyright:owen.xyz </a>

    </div>
</div>
<!--/.Copyright-->

</footer>
<!--/.Footer-->
